

<div class="container">
    <div class="row-md-12">
        <div class="col-md-4">
            <app-left></app-left>
        </div>
        <div class="col-md-4">
            <app-right></app-right>
        </div>
    </div>
</div>
























<!-- <div [formGroup]="form">
    <label for="">Fist Number</label>
<input type="text" formControlName="firstNumber" >   <br> <br>
<label for="" >Second Number</label>
<input type="text" formControlName="secondNumber" >
<input type="text" formControlName="thirdNumber" >

</div>
<div>
    <button (click)="add()" class="btn btn-primary">add</button>
    <button (click)="subtract()">subtract</button>
    <button (click)="multiply()">Multiply</button>
    <button (click)="division()">divide</button>
</div>
<div>
    Result: {{result}}
</div> -->